footer {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to top, var(--tw-gradient-stops));
    bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    display: flex;
}

.footer-contents {
    text-align: center;
    justify-items: center;
    width: 100%;
    margin: auto;
}

.footer-text {
    
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 15px;
    color: white;
}