:root {
  --tw-bg-opacity: 1;
  background-image: linear-gradient(to bottom right, orange 5%, black 110%);
  height: 100%;
  width: 100%;
  padding-top: 1.5rem;
  margin-bottom: auto;
  margin: auto;
  color: black;
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
